<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMP</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>
    <hr>
    {% if data %}
        {% for rec in data %}
            {{rec.id}} |
            {{rec.name}} |
            {{rec.orgdetail}} |
            {{rec.register_on}} |
            {{rec.last_modified}}<br>
            <hr>
        {% endfor %}
    {% else %}
        <h1>Not Found</h1>
    {% endif %}
</body>
</html>