<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORG</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
    {% if data %}
        {% for rec in data %}
            {{rec.id}} |
            {{rec.name}} |
            {{rec.register_on}} |
            {{rec.last_modified}}<br>
            <hr>
        {% endfor %}
    {% else %}
        <h1>Not Found</h1>
    {% endif %}
</body>
</html>